body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}

body {
    background: #cbbfbf;
}

#front_cover, #back_cover {
	display:inline-block;
	height:95vh;
	width:95vh;
	max-width: 990px;
	max-height: 990px;
    margin: 2.5vh;
}

@media only screen and (max-width: 990px) {
    #front_cover, #back_cover {
	    display:inline-block;
	    height:80vw;
	    width:80vw;
    }
}

.page {
	display:inline-block;
	width:95vw;
    margin-bottom: 2.5vw;
	border-width:0px;
}

.page-img {
	height:100%;
	min-width:100%;
	width:100%;
}


.page-layout {
	text-align:center;
}
