body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
    background: #cbbfbf;
}
#_idContainer000, #_idContainer032 {
	display:inline-block;
	height:95vh;
	width:95vh;
	max-width: 990px;
	max-width: 990px;
    margin: 2.5vh;

}

@media only screen and (max-width: 990px) {
    #_idContainer000, #_idContainer032 {
	    display:inline-block;
	    height:95vw;
	    width:95vw;
        margin: 2.5vw;
    }
}

#_idContainer001, #_idContainer002, #_idContainer003, #_idContainer004, #_idContainer005, #_idContainer006, #_idContainer007, #_idContainer008, #_idContainer009, #_idContainer010, #_idContainer011, #_idContainer012, #_idContainer013, #_idContainer015, #_idContainer016, #_idContainer017, #_idContainer018, #_idContainer019, #_idContainer020, #_idContainer021, #_idContainer022, #_idContainer023, #_idContainer024, #_idContainer025, #_idContainer026, #_idContainer027, #_idContainer028, #_idContainer029, #_idContainer030, #_idContainer031,
#_idContainer014 {
	display:inline-block;
	width:95vw;
    margin-bottom: 2.5vw;
}

img._idGenObjectAttribute-1 {
	height:100%;
	min-width:100%;
	width:100%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
